html {
	min-height: 97vh;
	min-width: 100vh;
	text-align: center;
	font-size: 15vh;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	height: 32vh;
	width: 32vh;
}
td:hover {
	background-color: lightGray;
}
button {
	width: 66.6vh;
	height: 15vh;
	font-size: 10vh;
	opacity: .5;
}
button:hover {
	opacity: 1;
}

.column2 {
	border: 5px solid black;
}
.topBord {
	border-top: none;
}
.botBord {
	border-bottom: none;
}
.leftBord {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}
.rightBord {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}
.oO {
	background: lightBlue;
}
.xX {
	background: pink;
}
.oO:hover {
	background: lightBlue;
}
.xX:hover {
	background: pink;
}

