html {
	min-height: 97vh;
	min-width: 100vh;
	text-align: center;
	font-size: 15vh;
	display: inline-block;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	height: 32vh;
	width: 32vh;
}

.middleColumn {
	border: 5px solid black;
}
.topBord {
	border-top: none;
}
.botBord {
	border-bottom: none;
}
.leftBord {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}
.rightBord {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}
.checked {

}